<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>demo1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>06D359C91C9FDC1D003359B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06D359E21C9FDC1E003359B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06D359ED1C9FDC1E003359B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
